:root{
    --bs-primary: #0A1931;
    --bs-info: #0069a5;
    --bs-success: #38bb94;
    --bs-danger: #f13d47;
    --bs-warning: #ffa030;
    --bs-blue: #4c70f0;
    --bs-white: #fff;
    --bs-secondary:#EFEFEF;
    --bs-border-color: #0a193125;
}
/*primary*/
.btn-primary {
    background: var(--bs-primary) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-primary {
    color: var(--bs-primary) !important;
}
.bg-primary {
    background: var(--bs-primary) !important;
}
.border-primary {
    border-color: var(--bs-primary) !important;
}
/*info*/
.btn-info {
    background: var(--bs-info) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-info {
    color: var(--bs-info) !important;
}
.bg-info {
    background: var(--bs-info) !important;
}
.border-info {
    border-color: var(--bs-info) !important;
}


/*success*/
.btn-success {
    background: var(--bs-success) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-success {
    color: var(--bs-success) !important;
}
.bg-success {
    background: var(--bs-success) !important;
}
.border-success {
    border-color: var(--bs-success) !important;
}

/*danger*/
.btn-danger {
    background: var(--bs-danger) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-danger {
    color: var(--bs-danger) !important;
}
.bg-danger {
    background: var(--bs-danger) !important;
}
.border-danger {
    border-color: var(--bs-danger) !important;
}

/*warning*/
.btn-warning {
    background: var(--bs-warning) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-warning {
    color: var(--bs-warning) !important;
}
.bg-warning {
    background: var(--bs-warning) !important;
}
.border-warning {
    border-color: var(--bs-warning) !important;
}

/*blue*/
.btn-blue {
    background: var(--bs-blue) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-blue {
    color: var(--bs-blue) !important;
}
.bg-blue {
    background: var(--bs-blue) !important;
}
.border-blue {
    border-color: var(--bs-primary) !important;
}

/*form*/
.form-control ,.form-select{
    transition: all 0.3s ease-in-out;
    border-radius: 4px !important;
}
.form-control:focus ,.form-select:focus{
    color: var(--bs-blue);
    border-color: var(--bs-blue);
    -moz-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -o-transition: all 250ms linear; 
}
.form-control:focus::placeholder ,.form-select:focus::placeholder{
    color: var(--bs-blue);
}

/*card*/
.card{
    border: 1px solid var(--bs-border-color)!important;
}

/*table-responsive*/
.table-responsive::-webkit-scrollbar {
    width: 8px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #0068a569 !important;
}
.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-blue) !important;
}
.table-responsive .table thead tr th {
    color: var(--bs-blue) !important;
    font-weight: bold;
    font-size: 16px;
}
.dataTables_wrapper div.dataTables_filter{
    margin-block: 6px !important;
}
div.dataTables_wrapper div.dataTables_filter label{
    color: var(--bs-blue);
}
div.dataTables_wrapper div.dataTables_info{
    color: var(--bs-blue);
}
.active > .page-link, .page-link.active{
    background: var(--bs-blue);
    border-color: var(--bs-blue);
}
.page-link {
    color: var(--bs-blue);
}
.page-link:hover {
    color: var(--bs-primary);
}
body{
    -moz-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    background: none;
    font-family: 'Tajawal';
}
a,a:hover{
    color:inherit;
    text-decoration:none;
}
a.text-success:hover, a.text-success:focus{
    color: var(--bs-primary)!important;
}
.link-hover{
    -moz-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -o-transition: all 250ms linear; 
}
.link-hover:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

/***********************************/
/*
haeder style css
*/
/***********************************/
.app-header {
    border-bottom: 3px solid var(--bs-blue);
}
.header-right-icons .nav-link.icon , .header-right-icons .nav-link.icon:hover{
    color: var(--bs-blue) !important;
}
.app-sidebar__toggle:before {
    content: "\F5C9" !important;
    font-family: bootstrap-icons!important;
    margin-bottom: 10px;
}
/***********************************/
/*
sidemenu style css
*/
/***********************************/
.sidebar-mini .side-menu {
    margin-top: 20px !important;
}
.side-menu__item{
    color: var(--bs-primary);
}
.side-menu__item:hover , .side-menu__item.active{
    color: var(--bs-blue);
}
.side-menu__item .side-menu__icon {
    color: var(--bs-blue) !important;
}
.slide-item {
    color: var(--bs-primary);
}
.slide-item:hover {
    color: var(--bs-blue) !important;
}
.slide-menu li .slide-item:before {
    content: "\F309" !important;
    font-family: bootstrap-icons!important;
    font-size: 20px;
    color: var(--bs-blue);
}

@media (max-width: 767px) {
    .sidebar-mini .side-menu {
        margin-top: 30px !important;
    }
}
/***********************************/
/*
content style css
*/
/***********************************/
.page-title{
    color: var(--bs-blue);
}
.breadcrumb-item a {
    color: var(--bs-primary);
    font-size: 17px;
}
.breadcrumb-item a:hover{
    color: var(--bs-blue);
}
.breadcrumb-item+.breadcrumb-item::before{
    color: var(--bs-blue);
}
.nav.product-sale {
    top: -55px !important;
    left: 20px !important;
}
.nav.product-sale a.active {
    border-radius: 5px;
    color: var(--bs-blue);
}
.tabs-menu1 ul li a {
    color: var(--bs-white);
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
 }
@media (max-width: 767px) {
    .page-title{
        font-size: 17px;
    }
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class="col-sm-12 col-md-6"]:first-child{
    order: 3;
}
.dataTables_length{
    display: none !important;
}

.accordion-button:not(.collapsed) {
    background: var(--bs-blue);
    color: var(--bs-white);
}
.accordion-button.collapsed{
    color: var(--bs-blue);
}
.accordion-button:not(.collapsed)::after{
    content: "\F145" !important;
    font-family: bootstrap-icons!important;
    margin-left: 5px;
    margin-right: auto;
}
.accordion-button::after{
    content: "\F145" !important;
    font-family: bootstrap-icons!important;
    margin-left: 5px;
    margin-right: auto;
}

    .nav.panel-tabs.panel-info a.active {
        background: var(--bs-blue) !important;
    }
    .nav.panel-tabs.panel-info a {
        color: var(--bs-blue);
    }
    .tabs-menu-boxed ul li a {
        border-bottom: 1px solid var(--bs-blue);
    }
    .tabs-menu-boxed ul li .active {
        border: none in !important;
    }
    .tabs-menu-boxed ul li a {
        margin-top: 7px;
        border-radius: 0 !important;
    }