:root{
    --bs-primary: #0A1931;
    --bs-info: #0069a5;
    --bs-success: #38bb94;
    --bs-danger: #f13d47;
    --bs-warning: #ffa030;
    --bs-blue: #4c70f0;
    --bs-white: #fff;
    --bs-secondary:#EFEFEF;
    --bs-border-color: #0a193125;
}
/*primary*/
.btn-primary {
    background: var(--bs-primary) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-primary {
    color: var(--bs-primary) !important;
}
.bg-primary {
    background: var(--bs-primary) !important;
}
.border-primary {
    border-color: var(--bs-primary) !important;
}
/*info*/
.btn-info {
    background: var(--bs-info) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-info {
    color: var(--bs-info) !important;
}
.bg-info {
    background: var(--bs-info) !important;
}
.border-info {
    border-color: var(--bs-info) !important;
}


/*success*/
.btn-success {
    background: var(--bs-success) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-success {
    color: var(--bs-success) !important;
}
.bg-success {
    background: var(--bs-success) !important;
}
.border-success {
    border-color: var(--bs-success) !important;
}

/*danger*/
.btn-danger {
    background: var(--bs-danger) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-danger {
    color: var(--bs-danger) !important;
}
.bg-danger {
    background: var(--bs-danger) !important;
}
.border-danger {
    border-color: var(--bs-danger) !important;
}

/*warning*/
.btn-warning {
    background: var(--bs-warning) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-warning {
    color: var(--bs-warning) !important;
}
.bg-warning {
    background: var(--bs-warning) !important;
}
.border-warning {
    border-color: var(--bs-warning) !important;
}

/*blue*/
.btn-blue {
    background: var(--bs-blue) !important;
    color: var(--bs-white) !important;
    border: 0 !important;
}
.text-blue {
    color: var(--bs-blue) !important;
}
.bg-blue {
    background: var(--bs-blue) !important;
}
.border-blue {
    border-color: var(--bs-blue) !important;
}
/*btn radius*/
.btn{
    border-radius: 50px !important;
}

/*form*/
.form-control ,.form-select{
    transition: all 0.3s ease-in-out;
    border-radius: 4px !important;
}
.form-control:focus ,.form-select:focus{
    color: var(--bs-blue);
    border-color: var(--bs-blue);
    -moz-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -o-transition: all 250ms linear; 
}
.form-control:focus::placeholder ,.form-select:focus::placeholder{
    color: var(--bs-blue);
}

/*card*/
.card{
    border: 1px solid var(--bs-border-color)!important;
}

/*table-responsive*/
.table-responsive::-webkit-scrollbar {
    width: 8px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #0068a569 !important;
}
.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-blue) !important;
}
.table-responsive .table thead tr th {
    color: var(--bs-blue) !important;
    font-weight: bold;
    font-size: 16px;
}
.dataTables_wrapper div.dataTables_filter{
    margin-block: 6px !important;
}
div.dataTables_wrapper div.dataTables_filter label{
    color: var(--bs-blue);
}
div.dataTables_wrapper div.dataTables_info{
    color: var(--bs-blue);
}
.active > .page-link, .page-link.active{
    background: var(--bs-blue);
    border-color: var(--bs-blue);
}
.page-link {
    color: var(--bs-blue);
}
.page-link:hover {
    color: var(--bs-primary);
}
body{
    -moz-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    background: none;
    font-family: 'Tajawal';
}
::selection{
    background: var(--bs-blue);
    color: var(--bs-primary);
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
    background-color: var(--bs-primary);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--bs-blue);
  }
a,a:hover{
    color:inherit;
    text-decoration:none;
}
a.text-success:hover, a.text-success:focus{
    color: var(--bs-primary)!important;
}
.link-hover{
    -moz-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -o-transition: all 250ms linear; 
}
.link-hover:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-info-bg);
  --bs-tooltip-color: var(--bs-white);
  z-index: 70;
}

/***********************************/
/*
haeder style css
*/
/***********************************/
.app-header {
    background: var(--bs-blue);
    border-bottom: 2px solid var(--bs-white);
}
.header-right-icons .nav-link.icon {
    color: var(--bs-white);
}
.header-right-icons .nav-link.icon:hover{
    color: var(--bs-primary);
}
.app-sidebar__toggle:before {
    content: "\F48A" !important;
    font-family: bootstrap-icons!important;
    margin-bottom: 10px;
}
.profile_dropdown{
    margin-top: -45px !important;
    margin-right: -5px !important;
}
@media (max-width: 977px) {
    .header .dropdown-menu {
        top: 0!important;
    }
}
/***********************************/
/*
sidemenu style css
*/
/***********************************/
.app-sidebar , .side-header{
    background: #fdfcfc !important;
}
.sidebar-mini .side-menu {
    margin-top: 20px !important;
}
.side-menu__item{
    color: var(--bs-primary);
}
.side-menu__item:hover , .side-menu__item.active{
    color: var(--bs-blue);
}
.side-menu__item .side-menu__icon {
    color: var(--bs-blue) !important;
}
.slide-item {
    color: var(--bs-primary);
}
.slide-item:hover {
    color: var(--bs-blue) !important;
}
.slide-menu li .slide-item:before {
    content: "\F309" !important;
    font-family: bootstrap-icons!important;
    font-size: 20px;
    color: var(--bs-blue);
}

@media (max-width: 767px) {
    .sidebar-mini .side-menu {
        margin-top: 30px !important;
    }
}
/***********************************/
/*
content style css
*/
/***********************************/
.jumps-prevent{
    padding-top: 39px !important;
}
@media (max-width: 692px) {
    .jumps-prevent{
        padding-top: 43px !important;
    }
}
.page-title{
    color: var(--bs-blue);
}
.breadcrumb-item a {
    color: var(--bs-primary);
    font-size: 17px;
}
.breadcrumb-item a:hover{
    color: var(--bs-blue) !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: var(--bs-blue);
}
.nav.product-sale {
    top: -55px !important;
    left: 20px !important;
}
.nav.product-sale a.active {
    border-radius: 5px;
    color: var(--bs-blue);
}
.tabs-menu1 ul li a {
    color: var(--bs-white);
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
 }
@media (max-width: 767px) {
    .page-title{
        font-size: 17px;
    }
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class="col-sm-12 col-md-6"]:first-child{
    order: 3;
    align-self: center;
}
.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-blue);
}
.rtl div.dataTables_wrapper div.dataTables_filter {
    text-align: right !important;
}
.dataTables_length{
    text-align: left;
    display: flex;
    justify-content: end;
}
.buttons-html5, .buttons-collection{
    margin-inline: 0.2rem !important;
}

.accordion-button.collapsed, .accordion-button:not(.collapsed){
    color: var(--bs-blue);
}
.accordion-button:not(.collapsed)::after{
    content: "\F145" !important;
    font-family: bootstrap-icons!important;
    margin-left: 5px;
    margin-right: auto;
}
.accordion-button::after{
    content: "\F145" !important;
    font-family: bootstrap-icons!important;
    margin-left: 5px;
    margin-right: auto;
}

    .nav.panel-tabs.panel-info a.active {
        background: var(--bs-blue) !important;
    }
    .nav.panel-tabs.panel-info a {
        color: var(--bs-blue);
    }
    .tabs-menu-boxed ul li a {
        border-bottom: 1px solid var(--bs-blue);
    }
    .tabs-menu-boxed ul li .active {
        border: none in !important;
    }
    .tabs-menu-boxed ul li a {
        margin-top: 7px;
        border-radius: 0 !important;
    }
    .richText-btn{
        font-size: 14px !important;
    }
    .fe-x:before {
        content: "\F62A" !important;
        font-family: bootstrap-icons!important;
        margin: 5px 10px;
    }
    .selling-points-products-grid-search-container {
        flex: 1;
        position: relative;
        padding-inline: 10px;
        height: 95vh;
        padding-top: 1px;
        overflow: auto;
      }
      
      .selling-points-products-grid-search-container input {
        margin-inline: auto;
        position: absolute;
        left: 50%;
        transform: translate(0%, -50%);
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid;
        font-size: 19px;
      }
      
      .selling-points-products-grid {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 10px;
        margin-inline: 10px;
      }
      
      .selling-points-product {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 100%;
        height: 165px;
        position: relative;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
        position: relative;
        cursor: pointer;
      }
      
      .selling-points-product:hover {
        scale: 1.03;
      }
      
      .selling-points-product-name {
        color: white;
        background-color: #23283b;
        height: 40px;
        justify-self: end;
        text-align: center;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .selling-points-card-product {
        padding-block: 10px;
        margin-bottom: 15px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        background-color: #e0e2ef;
        height: 76px;
        border-radius: 10px;
      }
      .selling-points-card-product img {
        height: 76px;
      }
      .selling-points-card-product > div {
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
      }
      
      .selling-points-card-product > div:nth-child(2) div div {
        margin-top: 5px;
      }
      .selling-points-card-product > div:nth-child(2) div div button {
        background-color: transparent;
        border: none;
      }
      
      .selling-points-card-product > div:nth-child(2) div div div > span {
        color: white;
        width: fit-content;
        background-color: #23283b;
        border-radius: 5px;
        padding: 3px 5px;
      }
      
      .selling-points-card-product > div:nth-child(2) div div button {
        cursor: pointer;
      }
      .selling-points-card-product > div > p:first-child {
        font-size: 14px;
      }
      .selling-points-card-product > div > div > p:first-child {
        font-size: 12px;
      }
    
      .categories {
        max-width: 500px;
        flex: 1;
        margin-left: 30px;
      }
      
      .categories > div:first-child {
        display: flex;
        gap: 20px;
      }
      .categories div:first-child > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        margin-bottom: 30px;
      }
      .categories input,
      .categories select {
        padding-inline: 10px;
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.345);
        position: relative;
      }
      
      .categories > div:nth-child(3) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-auto-rows: 80px;
        gap: 10px;
        width: 100%;
        height: 350px;
        padding-left: 20px;
        overflow: auto;
      }
      .categories > div:nth-child(3) > div {
        background-color: #2e5a81;
        color: white;
        padding: 20px 20px;
        width: 100%;
        height: 80px;
        text-align: center;
        border-radius: 15px;
        cursor: pointer;
      }
      .categories div:nth-child(3) > div p {
        margin-top: 10px;
      }
      .categories > div:last-child {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        gap: 10px;
        width: 100%;
        height: 650px;
        padding-left: 20px;
        overflow: auto;
        margin-top: 60px;
      }
      
      .categories > div:last-child > div {
        width: 100%;
        height: 100%;
      }
      
      .categories > div:last-child > div > div {
        margin-bottom: 0px;
      }
    @media print {
        .break-after,.modal,.modal-body,.modal-content,.modal-dialog {
            position: relative
        }
    
        .break-after,.labels {
            page-break-after: always
        }
    
        .box {
            border: 0
        }
    
        .row .col-md-12 {
            float: none
        }
    
        .barcode .btn-group,.barcode .pagination {
            display: none
        }
    
        .break-after {
            display: block
        }
    
        .modal-body,.modal-content {
            box-shadow: none!important;
            border: none!important
        }
    
        .break-before {
            display: block!important;
            page-break-before: always!important;
            position: relative!important
        }
    
        .labels {
            text-align: center;
            font-size: 10pt;
            page-break-inside: avoid;
            padding: 1px;
            margin-top: 50px;
        }
    
        .box-header,.close,.dataTables_filter,.dataTables_length,.dataTables_paginate,.main-footer,.modal-open .wrapper,.no-print,a:after {
            display: none
        }
    
        .np {
            display: none!important
        }
    
        .dropdown-menu .footer a,.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
            border-top: none!important
        }
    
        td,th {
            border: 0!important;
            background: 0 0!important
        }
    
        .bb td,.bb th {
            border-bottom: 1px solid #ddd!important
        }
    }
    @media print {
        .visible-print {
            display: block!important
        }
    
        table.visible-print {
            display: table
        }
    
        tr.visible-print {
            display: table-row!important
        }
    
        td.visible-print,th.visible-print {
            display: table-cell!important
        }
    }
    
    .visible-print-block {
        display: none!important
    }
    
    @media print {
        .visible-print-block {
            display: block!important
        }
    }
    
    .visible-print-inline {
        display: none!important
    }
    
    @media print {
        .visible-print-inline {
            display: inline!important
        }
    }
    
    .hide,.visible-print-inline-block {
        display: none!important
    }
    
    @media print {
        .visible-print-inline-block {
            display: inline-block!important
        }
    
        .hidden-print {
            display: none!important
        }
    }